.Login__Form{
    flex: auto;
    text-align: center;
    background-color: #e6e6e6;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
}
.Login__Input{
    width: 40%;
    margin-top: 5%;
    border-radius: 5px;
}
.Login__Button{
    width: 40%;
    font-size: 15px;
    font-weight: 500;
}
.Login__Title{
	color: white;
}
