.container_ActivityCardItems {
  display: flex;
}

.activity-card__text-section {
  flex-grow: 2;
  position: relative;
}

.activity-card__title button {
  float: right;
  min-height: 0;
  min-width: 40px;
  margin: 0;
  padding: 0;
}
